@import "bootstrap";
@import "comments";
@import "likes";
@import "font-awesome-sprockets";
@import "font-awesome";

.container-login {
    @extend .container-fluid;
    max-width: 576px;
    padding: 2rem;
}
  // 「ログインしました」などのフラッシュ用スタイル
  
.alert-notice {
    @extend .alert-info;
}
  
.alert-alert {
    @extend .alert-danger;
}

.pagination>li>a {          
    border: none;
    color: #696969;
}
  

.pagination>.active>a {     
    background: #93c9ff;
    border-radius: 15px;
}
  

.pagination>li>a:hover {        
    border-radius: 15px;
}

.icon_image {
    width: 45px;
    height: 45px;
    //サイズ指定
    border-radius: 100px;
    //画像を丸くする
    object-fit: cover;
    //タテヨコ比を変えないままトリミング
}