// Place all the styles related to the likes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.like-btn {
    width: 25px;
    height: 30px;
    font-size: 25px;
    color: #808080; 
    margin-left: 20px;
    }
   
.unlike-btn {
    width: 25px;
    height: 30px;
    font-size: 25px;
    color: #e54747;
    margin-left: 20px;
    }

.show-top-like-btn {
    width: 100%;
    border: 2px solid lightcoral;
    box-sizing: border-box;
    text-align: center;
    padding: 5px;
    color: lightcoral;
    font-weight: bold;
}

.show-top-liked-btn {
    width: 100%;
    border: 2px solid lightcoral;
    box-sizing: border-box;
    text-align: center;
    padding: 5px;
    color: #fff;
    font-weight: bold;
    background-color: lightcoral;
}